.scroll-top-btn{
 position: fixed;
    bottom: 5rem;
    right: 2rem;
    z-index: 9999;
    background-color: var(--black);
    border: none;
    width:5rem;
    height:5rem;
}
.scroll-top-btn i{
    color: var(--white);
    font-size: 1.5rem;
}